<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <div id="right-sidebar" class="settings-panel">
            <i class="settings-close ti-close" (click)="closeRightSidebar()"></i>
            <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
                        aria-controls="todo-section" aria-expanded="true">Completed tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
                        aria-controls="chats-section">Pending tasks</a>
                </li>
            </ul>
            <div class="tab-content" id="setting-content">
                <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
                    aria-labelledby="todo-section">
                    <div class="add-items d-flex px-3 mb-0">
                        <form class="form w-100">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control todo-list-input" placeholder="Add Task">
                                <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task"
                                    routerLink="/stages/{{student.project?.id}}">Add</button>
                            </div>
                        </form>
                    </div>
                    <div class="list-wrapper px-3">
                        <ul class="d-flex flex-column todo-list">
                            @for (task of compeletedTasks; track task.id) {
                            <li class="bg-success">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        {{task.title}}
                                    </label>
                                </div>
                            </li>
                            }


                        </ul>
                    </div>

                </div>
                <!-- To do section tab ends -->
                <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                    <div class="add-items d-flex px-3 mb-0">
                        <form class="form w-100">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control todo-list-input" placeholder="Add Task">
                                <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task"
                                    routerLink="/stages/{{student.project?.id}}">Add</button>
                            </div>
                        </form>
                    </div>
                    <div class="list-wrapper px-3">
                        <ul class="d-flex flex-column todo-list">
                            @for (task of PendingTasks; track task.id) {
                            <li class="bg-warning">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        {{task.title}}
                                    </label>
                                </div>
                            </li>
                            }


                        </ul>
                    </div>
                </div>
                <!-- chat tab ends -->
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Welcome {{username}}</h3>
                                <!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span -->
                                <!-- class="text-primary">3 unread alerts!</span></h6> -->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card tale-bg">
                            <div class="card-people mt-auto">
                                <img src="../../assets/images/dashboard/people.svg" alt="people">
                                <div class="weather-info">
                                    <div class="d-flex">
                                        <div>
                                            <h2 class="mb-0 font-weight-normal"><i
                                                    class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                                        </div>
                                        <div class="ml-2">
                                            <h4 class="location font-weight-normal">Tunis</h4>
                                            <h6 class="font-weight-normal">Tunisia</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (userRole=="Supervisor") {
                    <div class="col-md-6 grid-margin transparent">
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-4">Number of projects</p>
                                        <p class="fs-30 mb-2">{{NbrOfProjects}}</p>
                                        <!-- <p>10.00% (30 days)</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Number of students enrolled in my projects</p>
                                        <p class="fs-30 mb-2">{{NbrOfStudentEnrolled}}</p>
                                        <!-- <p>22.00% (30 days)</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                                <div class="card card-light-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Number of validated requirements</p>
                                        <p class="fs-30 mb-2">{{validatedRequirements}}</p>
                                        <!-- <p>2.00% (30 days)</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 stretch-card transparent">
                                <div class="card card-light-danger">
                                    <div class="card-body">
                                        <p class="mb-4">Number of all tasks</p>
                                        <p class="fs-30 mb-2">{{NbrOfTasks}}</p>
                                        <!-- <p>0.22% (30 days)</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    @else {
                    <div class="col-md-6 grid-margin transparent">
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-4">Enrolled project</p>
                                        <p class="fs-20 mb-3">{{student.project?.title}}</p>
                                        <!-- <p>10.00% (30 days)</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-dark-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Number of stages</p>
                                        <p class="fs-30 mb-2">{{NbrOfStages}}</p>
                                        <!-- <p>22.00% (30 days)</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                                <div class="card card-light-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Number of completed tasks</p>
                                        <p class="fs-30 mb-2">{{NbrOfComepletedTasks}}</p>
                                        <p>{{percentageCompleted}}%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 stretch-card transparent">
                                <div class="card card-light-danger">
                                    <div class="card-body">
                                        <p class="mb-4">Number of pending tasks</p>
                                        <p class="fs-30 mb-2">{{NbrOfPendingTasks}}</p>
                                        <p>{{percentagePending}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div>

                @if (userRole=="Student") {
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title mb-0">Completed Tasks</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Created By</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (task of compeletedTasks; track task.id ){
                                            <tr>
                                                <td>{{task.title}}</td>
                                                <td class="font-weight-bold">{{task.createdby}}</td>
                                                <!-- <td>21 Sep 2018</td> -->
                                                <td class="font-weight-medium">
                                                    <div class="badge badge-success">{{task.status}}</div>
                                                </td>
                                            </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title mb-0">Pending Tasks</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Created By</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (task of PendingTasks; track task.id) {
                                            <tr>
                                                <td>{{task.title}}</td>
                                                <td class="font-weight-bold">{{task.createdby}}</td>
                                                <!-- <td>21 Sep 2018</td> -->
                                                <td class="font-weight-medium">
                                                    <div class="badge badge-warning">{{task.status}}</div>
                                                </td>
                                            </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                @else {
                <div class="row">
                    <div class="col-md-12 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title mb-0">Projects List</p>
                                <div class="table-responsive">
                                    <table class="table table-borderless text-center ">
                                        <thead>
                                            <tr>
                                                <th class="pl-0  pb-2 border-bottom">Project Title</th>
                                                <th class="border-bottom pb-2">Number of Stages</th>
                                                <th class="border-bottom pb-2">Number of completed tasks</th>
                                                <th class="border-bottom pb-2">Number of pending tasks</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (project of projects; track project.id) {
                                            <tr>
                                                <td class="pl-0">{{project.title}}</td>
                                                <td>
                                                    <p class="mb-0"><span
                                                            class="font-weight-bold mr-2">{{project.stages.length}}</span>
                                                    </p>
                                                </td>
                                                <td>
                                                    <div class="badge bg-success">
                                                        {{ getValidateTaskCount(project) }} Tasks

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="badge badge-warning">
                                                        {{ getPendingTaskCount(project) }} Tasks

                                                    </div>
                                                </td>

                                            </tr>
                                            }



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                }


            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <app-footer></app-footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>